body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

header {
	}
<<<<<<< HEAD
body{
	}
.navbar-inverse .navbar-nav>li>a {
    color: #DC4B25;
}

=======
.background{
	
		background-image:url(../images/background.jpg); 
		background-size:100%;
		background-repeat:no-repeat;
		height: 140px;
		display:block;
		padding:0 !important;
		margin:0;
		float: none;
	}

	
	
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
	
	
	